style.css
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background-color: LightGray;
}


/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
	width: 100%;
	z-index: 9999;
}
.top-navigation > .content {
	width: 970px;
    height: 70px;
	padding: 0px 15px;
	margin: 0 auto;   
}
.top-navigation .logo {
	height: 70px;
}
.top-navigation .links {
	float: right;
	color: #a30c50;
	padding: 0em 0;
	font-family: 'Roboto', sans-serif; 
	font-size: 12px; 
	color: #838994; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;

}
.top-navigation .links li {
	display: inline-block;
	text-align: center;
	padding: 2em 6;
}
.top-navigation .links .active {
 	color: #4c5058;
    font-weight: 600;
}
.top-navigation .links li:hover{
    color: #FF8F45;
}

/* Introduction Section */

section.introduction {
	background-image: url(img/coffee-shop-banner.jpg);
	background-size: cover;
	padding-top: 100px;
	background-position: 0 bottom;
	height: 500px;
	
}
div.intro-content .introducing-karma,
div.intro-content .bring-wifi {
	padding-top: 80px;
	padding-left: 90px;
}
.intro-content .introducing-karma {
	font-size: 3em;
	font-family:'Roboto', sans-serif; 
	color: #fff;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
p.bring-wifi {
	font-size: 1.37em;
	font-family:'Roboto', sans-serif; 
	color: #fff;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	margin-top: -80px;
}

div.learn-more {
	margin-left: 650px;
	margin-top: -50px;

}
div.learn-more button {
	text-shadow: none;
    border-style: none;
    border-radius: 8px;
    padding: 16px 26px;
    line-height: 1.33;
	font-size: 1em;
	font-family:'Roboto', sans-serif; 
	color: #000;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}
div.learn-more button:hover {
	background-color: #FF8F45;
	color: #FFF;
}

/* Three Icon Secion */

section.cases {
	background-color: #fff;
	padding-bottom: 200px;
}
.cases div.devices {
    width: 33.3333333%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px;
    box-sizing: border-box;
    height: 10em;
    margin: -4px;
}

section.cases h2,
section.cases p {
	font-family:'Roboto', sans-serif; 
	color: #000;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

div.devices p {
	font-size: 1em;
	padding-top: 50px;
}

section.cases h2.everyone-karma {
	font-size: 2.5em;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

section.cases img.devices {
	height: 125px;
	margin-left: 300px;
	margin-bottom: 15px;
}
div.devices h2.devices-internet {
	padding-top: 80px;
	font-size: 1.5em;
	margin-left: 275px;
	margin-right: -50px;
	text-align: center;
}

div.devices p.devices-internet {
	text-align: center;
	margin-right: -50px;
	margin-left: 280px;
	line-height: 110%;
}

section.cases img.coffee {
	height: 125px;
	margin-left: 100px;
}

div.devices h2.devices-coffee {
	padding-top: 80px;
	font-size: 1.5em;
	margin-left: 80px;
	margin-right: 150px;
	text-align: center;	
}

div.devices p.devices-coffee {
	text-align: center;
	margin-right: 125px;
	margin-left: 75px;
	margin-top: 15px;
	line-height: 110%;
}
section.cases img.refill {
	height: 125px;
	margin-left: -75px;
}

div.devices h2.devices-refill {
	padding-top: 80px;
	font-size: 1.5em;
	margin-left: -450px;
	margin-top: 20px;
	text-align: center;
}
div.devices p.devices-refill {
	text-align: center;
	margin-right: 300px;
	margin-left: -115px;
	margin-top: 15px;
	line-height: 110%;
}
/* Buy it Now */

section.buy-it-now {
	background-image: url(img/buy-now-bg.jpg);
	background-size: cover;
	width: 100%
	padding-bottom: 650px;
	padding-top: 40px;

}
section.buy-it-now div.buy-karma {
	margin-top: 100px;
}
section.buy-it-now div.buy-it-now-explain {
	font-family:'Roboto', sans-serif; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
section.buy-it-now div.buy-it-now-explain h1 {
	padding-left: 200px;
	padding-right: 700px;
	font-size: 2.5em;
}

section.buy-it-now div.buy-it-now-explain aside {
	padding-left: 200px;
	padding-right: 800px;
	font-size: 1.1em;
	line-height: 20px;
	padding-top: 20px;
}

section.buy-it-now div.buy-now-button {
	padding-left: 200px;
	padding-top: 50px;
	padding-bottom: 100px;

}
section.buy-it-now div.buy-now-button button.buy-now-button {
	text-shadow: none;
    border-style: none;
    border-radius: 30px;
    padding: 16px 26px;
    line-height: 3px;
	font-size: 1em;
	font-family:'Roboto', sans-serif; 
	color: #000;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}
section.buy-it-now div.buy-now-button button:hover {
	background-color: #FF8F45;
	color: #FFF;
}
/* Footer */
footer {
	background-color: #fff;

}
footer ul {
	display: inline-block;
	font-size: .9em;
	font-family:'Roboto', sans-serif; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	width: 33.3333333%;
	margin: -90px;
	margin-top: 80px;
	margin-bottom: 80px;
	line-height: 155%

}

footer li.list-head {
	color: #000;
}

footer li:hover {
	color: #FF8F45;
}

footer li {
	color: #888888;
}

footer ul.footer-company{
	margin-left: 330px;
}
footer h2,
footer p.karma-notes {
	text-align: center;
	font-family:'Roboto', sans-serif; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

footer h2 {
	font-size: 1.05em;
	padding-bottom: 20px;
}
footer div.footer-social {
	margin-left: 590px;
}
footer div.social-icons {
	margin-left: 550px;
}
footer div.social-icons li {
	display: inline-block;
	border-radius: 30px 30px 30px 30px;
}

footer p.karma-notes {
	color: #888888;
	font-size: .9em;
	padding-top: 10px;
	padding-bottom: 100px;

